@media only screen and (max-width: 37.5em)
{nav a {display:block;} 
    nav a {width:100%;}
    nav a {padding: 0em;}
    nav {margin-bottom: none;}
    nav {padding:0em;}
span {display: none;}
.books, .sourcelink {float:none;}
.sourcelink {display:inline-block;
width:100%}

}
 

body {font-family: 'Zilla Slab', serif;}
.logo {display: block;}   
body { background-color: #953553;}


nav {background-color:#f7dbfd;
    padding:1em;
    border-radius: .5em;
    margin-bottom: 1em;
    display:block;
}
nav a {padding: 1em;
    color:black;
    font-weight:bold;
    width:100%
    
}
.footer {font-weight:bold;}
nav a:hover{color:rgb(185, 5, 95);}

h1, h2, h3 {color:#ffffff;}
h1, h2 {text-align:center;}
a {padding:1em;
margin-bottom:1em;}

li {padding:.3em;}


/*Business, Fashion, Law div tags and styles*/

.fashiondesigners {padding:1em;}
.outfitpic {float:left;
padding: .5em;
}

.stopfloat {clear:both;}
.outfitside {display:flex;
   justify-content:center;
    margin: 0 auto;
}

.passion {padding: .75em;
background-color:palevioletred;}


.blogpost {padding: 1em;}

.text {background-color: palevioletred;
padding: 1em;}

.footer {background-color:#f7dbfd;
    padding: 1em;}




/*Rachel's Choice*/

.law,.business {background-color: black;
padding:2em;}

.ohlawlawslogan {display: block;
    margin-left:auto;
    margin-right:auto;
    }

h4 {color:thistle;}
p, h4 {padding:.75em;}
.piclink {color:black;}

/*About/Contact*/
.rachelbio, .experience, .contact {background-color:#f7dbfd;
    padding: .75em;
    }

a {color:#ffffff;}
.choiceintro {background-color:#f7dbfd;}
.contactlink {color:black;}
.sourcelink  {background-color:white;
margin-top:2em;
padding:1em;}
.books {float:right;}
.clearfloat {clear:left;}
.sourcelink a {color:black;}

/*Mission/Principles*/
.mheader {text-align:center;}
.mission,.numbers {background-color:#f7dbfd;
    border-radius:0.5em;
}
.principles, .ethics, .footer{background-color:palevioletred;
    border-radius:.5em;
}
.ethics, .footer {margin:1em;}
.ethics {padding:1em;}

#setonhall {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  #comments {overflow:hidden;
max-width:100%;}
















