h1, h2, h3, caption, th {color:#F56991;}
a:link {color: #6470c9;}
a:visited {color:#533b4a;}
body {
    background-color:#CDEFFF;
}
nav {background-color:#cfa5e7;}
nav a link {color: #ebbee7;}
nav a:hover {background-color:#DCF7F3;}

nav {padding:10px}
nav {margin-bottom:30px}

p, tr, td, li, form {color:#8047b4;}


